{{ define "Edit" }}
    {{ template "Header" }}
    {{ template "Menu" }}
    <h2>Edit Share</h2>
    <form method="POST" action="update">
        <input type="hidden" name="uid" value="{{ .Id }}" />
        <label> Symbol </label><input type="text" name="symbol" value="{{ .Symbol }}"  /><br />
        <label> Value </label><input type="text" name="value" value="{{ .Value }}"  /><br />
        <label> Quota </label><input type="text" name="quota" value="{{ .Quota }}"  /><br />
        <input type="submit" value="Save user" />
    </form><br />
    {{ template "Footer" }}
{{ end }}