<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title></title>
</head>

<div style="position: relative">
    <span style="position:absolute; left:10px;">
        <h1>{{.}}</h1>
        <form action="addticker" method="POST">
            <label for="ticker">Ticker:</label><br>
            <input type="text" id="ticker" required name="ticker" placeholder=" Stock ticker..." size="10"><br>
            <label for="quantity">Quantity:</label><br>
            <input type="number" id="quantity" size="200" required name="quantity" min="0" placeholder=" # of shares bought..." max="999999999999999999" ><br>
            <label for="price">Price:</label><br>
            <p><input type="number" id="price" required name="price" min="0" step="0.01" placeholder=" Stock price..." max="9999999"><br></p>
{{/*            <p><input type="submit" value="Add bought share" /></p>*/}}
            <button type="submit" class="btn btn-sm btn-outline-dark btn-outline-secondary" formaction="addticker" formmethod="POST">Add bought share</button>
        </form>
{{/*        <p>*/}}
        {{/*<form action="addticker/itsa" method="POST">*/}}
        {{/*    <p><input type="submit" value="Add bought share" /></p>*/}}
        {{/*</form>*/}}
        <form><button type="submit" class="btn btn-sm btn-outline-dark btn-outline-secondary" formaction="/api" formmethod="GET">Wallet</button></form>
    </span>
</div>

{{/*<form action="api/addticker/{{.Title}}" method="POST">*/}}
{{/*    <div><textarea name="Body" cols="80" rows="25">{{printf "%s" .Body}}</textarea></div>*/}}
{{/*    <div><input type="submit" value="Save"></div>*/}}
{{/*</form>*/}}